body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #004f82;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

header {
    background-image: url("../inizia2.jpg");
    height: 200px;
    border-bottom: 2px solid white;
    font-size: 80px;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: rgb(8, 17, 66);
    margin-bottom: 200px;
}

header:hover {
    cursor: pointer;
}